**/bin/
**/obj/
.vs/
.idea/
.DS_Store
node_modules/
artifacts/
site/
TestResults/
*.user
*.suo
__pycache__/
*.py[cod]
src/LightSpace.App/Assets/Samples/*.jpg
src/LightSpace.App/Assets/Fonts/*.ttf
src/LightSpace.App/Assets/Fonts/OFL.txt
